@model BugTracker.Models.CustomError

<div class="d-flex justify-content-center">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>

    <div class="">
        <div class="container">
            <img src="/images/logos/oops.png" class="img-fluid" alt="">
            <h2 class="mb-0 mt-4">Oops! This Page is Not Found.</h2>
            <p class="mt-2">The requested page dose not exist.</p>
            <a class="btn bg-white text-primary d-inline-flex align-items-center" asp-action="Index" asp-controller="Home">Back to Home</a>
        </div>
    </div>
</div>