@{
    ViewData["Title"] = "Welcome To The Bug Tracker";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

<div class="wrapper">
    <section class="login-content">
        <div class="row m-0 align-items-center bg-white vh-100">
            <div class="col-md-6 p-0">
                <div class="card card-transparent auth-card shadow-none d-flex justify-content-center mb-0">
                    <div class="card-body">
                        <form>
                            <div class="card">
                                <div class="body">
                                    <h1 class="lead mb-3">
                                        <strong>Welcome!</strong>
                                    </h1>

                                    <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary">Launch Bug Tracker</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-md-block d-none bg-primary p-0 mt-n1 vh-100 overflow-hidden">
                <img src="~/images/logos/04.png" class="img-fluid gradient-main animated-scaleX" alt="images">
            </div>
        </div>
    </section>
</div>


