@{
    ViewData["Title"] = "Home Page";
}

<main class="flex-shrink-0">
    <div class="container mt-1">
        <div class="row row-cols-1 row-cols-md-2 gy-2 justify-content-center" style="margin-top: 250px;">
            <div class="col">
                <div class="bg-gradient text-light h-100 p-3 rounded-2">
                    <h1 class="text-center">Welcome To The Bug Tracker</h1>
                    <p class="text-center mt-1">
                        A custom designed .NET Core application with PostgreSQL database. 
                        <hr />
                        The application is a multi-tenant application designed to track issue tickets' progress.
                        Implemented with identity and user roles, tickets are maintained in projects which are maintained by users in the role of project manager.
                        Each project has a team and team members.
                    </p>
                    <hr />
                    <div class="row row-cols-1  row-cols-md-2 justify-content-center">
                        <a class="btn btn-primary rounded-2" asp-area="Identity" asp-page="/Account/Login">Try It Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>