@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
    ViewData["MainMenu"] = "Login";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

<div class="card">
    <div class="header">
        <p class="lead">Login to your account</p>
    </div>
    <div class="body">
        <form id="account" method="post" class="form-auth-small">
            <div class="form-group">
                <label asp-for="Input.Email" class="control-label sr-only">Email</label>
                <input type="email" class="form-control" id="signin-email" placeholder="Email" asp-for="Input.Email">
                <span asp-validation-for="Input.Email" class="text-danger" style="text-decoration: none"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password" class="control-label sr-only">Password</label>
                <input asp-for="Input.Password" type="password" class="form-control" id="signin-password" placeholder="Password">
            </div>
            <div class="form-group clearfix">
                <label class="fancy-checkbox element-left">
                    <input asp-for="Input.RememberMe" type="checkbox">
                    <span>Remember me</span>
                </label>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">LOGIN</button>
            <div class="bottom">
                <span class="helper-text m-b-10"><i class="fa fa-lock"></i> <a asp-page="./ForgotPassword">Forgot password?</a></span>
            </div>
            <hr />
       @*     <div class="form-group">
                <a class="btn btn-sm btn-primary btn-block" asp-area="Identity" asp-page="/Account/DemoLogin">Demo Application</a>
            </div>*@
           
        </form>
    </div>
</div>



@*
<div class="row m-0 d-flex justify-content-center vh-100">
    <div class="col-md-6">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card card-transparent shadow-none d-flex justify-content-center mb-0 auth-card">
                    <div class="card-body">
                        <a href="" class="navbar-brand d-flex align-items-center mb-3">

                        </a>
                        <h1 class="mt-2 text-center">@ViewData["Title"]</h1>
                        <form id="account" method="post">
                            <h4 class="text-center">Use a account to log in.</h4>
                            <hr />
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label asp-for="Input.Email"></label>
                                        <input asp-for="Input.Email" class="form-control" id="email" />
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label asp-for="Input.Password"></label>
                                        <input asp-for="Input.Password" class="form-control" id="password" />
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-12 d-flex justify-content-between">
                                    <div class="form-check mb-3">
                                        <div class="checkbox">
                                            <label asp-for="Input.RememberMe">
                                                <input asp-for="Input.RememberMe" />
                                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                                            </label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="">
                                <button type="submit" class="btn btn-primary">Log in</button>
                            </div>

                            <div class="row mt-5">

                                <div class="col-6"><button class="btn btn-primary btn-sm" onclick="setAdminDemoValue()">Demo Admin</button></div>
                                <div class="col-6"><button class="btn btn-primary btn-sm" onclick="setProjectManagerDemoValue()">Demo PM</button></div>
                                <div class="col-6 mt-2"><button class="btn btn-primary btn-sm" onclick="setDemoSubmitterDemoValue()">Demo Submitter</button></div>
                                <div class="col-6 mt-2"><button class="btn btn-primary btn-sm " onclick="setDeveloperDemoValue()">Demo Developer</button></div>
                                <div class="col-6 mt-2"><button class="btn btn-primary btn-sm " onclick="setDevNewUserDemoValue()">Demo New User</button></div>
                            </div>


                            <div class="d-flex justify-content-center">
                                <ul class="list-group list-group-horizontal list-group-flush">
                                </ul>
                            </div>
                            <hr />
                            <div class="form-group mt-3">
                                <p class="text-center">
                                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

*@

<!--Bootstrap-->        
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/popper.min.js"></script>
<script src="~/bootstrap/js/bootstrap.min.js"></script>  

@*
@section Scripts {

 
  

    <script>
        function setAdminDemoValue() {
            let email = document.getElementById("email");
            email.value = "demoadmin@bugtracker.com";
            let password = document.getElementById("password");
            password.value = "Abc&123!";
        }

        function setProjectManagerDemoValue() {
            let email = document.getElementById("email");
            email.value = "demopm@bugtracker.com";
            let password = document.getElementById("password");
            password.value = "Abc&123!";
        }

        function setDemoSubmitterDemoValue() {
            let email = document.getElementById("email");
            email.value = "demosub@bugtracker.com";
            let password = document.getElementById("password");
            password.value = "Abc&123!";
        }

        function setDeveloperDemoValue() {
            let email = document.getElementById("email");
            email.value = "demodev@bugtracker.com";
            let password = document.getElementById("password");
            password.value = "Abc&123!";
        }

        function setDevNewUserDemoValue() {
            let email = document.getElementById("email");
            email.value = "demonew@bugtracker.com";
            let password = document.getElementById("password");
            password.value = "Abc&123!";
        }

    </script>

}
*@