.dark .form-control {
    color: #8a92a6;
    background-color: #222738;
    border-color: #30384f;
}


table.dataTable tbody tr {
    background-color: #151824 !important;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: white !important;
}

